<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"/>


    <application
        android:name=".AndroidBackGround.Client.SessionContext"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="Sport-life"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">




        <activity

            android:name=".Activity.ActivitySpalsh"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:name=".Activity.ActivityLogin"
            android:exported="true" >


        </activity>

        <activity
            android:name=".Activity.ActivityMain"
            android:exported="true">

        </activity>


        <activity
            android:name=".Activity.ActivityHome"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Activity.ActivityEditName"
            android:exported="true">
        </activity>
        <activity

            android:name=".Activity.ActivityFavorites"
            android:exported="true">
        </activity>
        <activity

            android:exported="true"
            android:name=".Activity.ActivityFavouriteDetails"
            >
        </activity>


        <activity

            android:name=".Activity.ActivityLevel"
            android:exported="true" >
        </activity>



        <activity

            android:name=".Activity.ActivityMuscle"
            android:exported="true" >
        </activity>

        <activity

            android:name=".Activity.ActivityInventory"
            android:exported="true" >
        </activity>
        <activity

            android:exported="true"
            android:name=".Activity.ActivityResult">
        </activity>
        <activity

            android:exported="true"
            android:name=".Activity.ActivityResultDetail"
            >
        </activity>
        <activity

            android:name=".Activity.ActivityProfile"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Activity.ActivityEditAvatar"
            android:exported="true"
          >
        </activity>
        <activity
            android:name=".Activity.ActivityEditTheme"
            android:exported="true"
            >
        </activity>
    </application>

</manifest>